.footer__section {
    background-color: $footer-background;
}

.footer__container {
    @extend %container;
    display: flex;
}

.address__box {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Logo */
.footer__link-logo {
    @extend %logo;
    color: #ffffff;

    &:focus {
        outline-color: $accent-color;
    }
}

/* Address */
.address__page {
    margin-top: 20px;
}

.address__list {
    font-style: normal;
}

.address__item {
    margin-bottom: 9px;
}

.address__link {
    transition: color $animation;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.address__link-map {
    font-size: 14px;
    line-height: 1.7;
    color: #ffffff;
    outline: none;
}

.address__link-contacts {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    outline: none;
}

/* Footer networks */
.footer-network__box {
    margin-left: 70px;
    margin-right: 93px;
    padding-top: 72px;
    padding-bottom: 100px;
}

.footer-network__call {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-network__list {
    display: flex;
}

.footer-network__item {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.footer-network__link {
    display: flex;
    width: 44px;
    height: 44px;
    fill: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: background-color $animation;

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}

/* Subscribe */
.footer-subscribe__box {
    margin-top: 72px;
    margin-left: auto;
}

.footer-suscribe__call {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffffff;
    display: block;
    margin-bottom: 20px;
}

.footer-subscribe__form {
    display: flex;
}

.footer-subscribe__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    background-color: transparent;
    margin-right: 12px;
    outline: none;
    color: #ffffff;
    transition: border-color $animation;

    &:hover,
    &:focus {
        border-color: $accent-color;
    }
}

.footer-subscribe__btn {
    @extend %common-btn;
    background-color: $accent-color;
    color: #ffffff;
    transition: background-color $animation, color $animation;

    &:hover,
    &:focus {
        background-color: #ffffff;
        color: $accent-color;
    }
}

.footer-subscribe__ikon {
    fill: currentColor;
    margin-left: 10px;
}